@media (min-width: 768px) {
    .body-container {
        max-width: 730px;
    }
}

.page-heading {
    text-align: center;
    color: #009587;
}

.heading-hr {
    border-color: #009587;
    margin-bottom: 50px;
}